.default-button {
    margin-top: 1rem;
    padding: 0.4rem 0.5rem;
    color: white;
    font-size: 1.01rem;
    text-shadow: 1px 2px 18px black;
    background-color: rgb(89, 186, 231);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.default-button:hover {
    background-color: rgb(77, 163, 202);
}